html{
  scroll-behavior: smooth;
}

body{
font-family: 'Assistant', sans-serif;
background-color: #ffffff;
color: #000000;
font-size: 20px;
margin: 0;
padding: 0;
}

.header{
  font-size: 40px; /*why isn't this working*/
  line-height: 10px;
  padding-top: 10px;
  text-align: center;
}

a{
  text-decoration: underline;
  color: #6f00ff;
}

h1{
  font-size: 40px;
  line-height: 35px;
  font-weight: bold;
  padding-top: 10px;
}

h2{
font-size: 30px;
line-height: 1.5;
}

nav ul{
  line-height:20px;
  text-transform: lowercase;
}

li{
  text-indent: 0px;
  margin-left: 30px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: repeat(5,auto);
  grid-row-gap: 15px;
}
.grid{
  display: grid;
  margin: 20px;
}

.grid-item{
  border: 2px solid #6f00ff;
  padding: 20px;
}

.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  background-color: #6f00ff;
  align-items: top;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.navlinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.footer p{
  color: #6f00ff;
  text-align: right;
}
.summary-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: auto;
  padding: 50px;
  line-height: 30px;
}
#resume{
  width: 90%;
	height: 500px;
	padding-left: 10px;
	padding-right: 10px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #6f00ff;
  background-color: #b1b1b1;
  color: #000000;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #b1b1b1;
  color: #000000;
  padding: 12px;
  border: none;
}

input[type=submit]:hover {
  background-color: #ffffff;
}

.column {
  float: left;
  width: 55%;
  padding: 25px;
}

fieldset{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
}

input, textarea{
	width: 200px;
  font-size: 20px;
  min-height: 50px;
}

textarea{
	line-height: 50px;
  margin-top: 20px;
}

#contents{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}

.grid-item{
	border: 2px solid #6f00ff;
	padding: 10px;
  margin: 1px;
  padding: 20px;
}

.grid-item a{
	text-decoration: underline;
}

.section{
  border: 2px solid #6f00ff;
  min-height: 100px;
  width: 300px;
  margin: 20px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery{
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: white;
}

nav li{
display:list-item;
line-height: 25px;
padding-right:20px;
}

nav a{
color: black;
font-weight: bold;
text-decoration: none;
}

nav a:hover{
text-decoration: underline;
}

a:hover{
	text-decoration: underline;
  font-weight: bold;
  color: red;
}

.current{
  text-transform: uppercase;;
  color: #6f00ff;
}

.skip a{
background: white;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top: -40px;
}

.skip a:focus{
position: absolute;
top: 0px;
}

*:focus{
border: 2px solid #6f00ff;
}

footer{
background-color: white;
color: black;
padding-top: 30px;
text-align: center;
grid-column: 1 / -1;
grid-row: 7 / auto;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

nav{
background-color: #ffffff;
padding: 25px 0;
text-align: left;
}

header p{
color: white;
font-size: 24px;
padding: 0 100px;
text-align: center;
}

.parallax {
  background-image: url("/images/contactbackground.PNG");
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  header{
    background-attachment: initial;
  }
}

.flip-card {
  background-color: transparent;
  width: 365px;
  height: 515px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #6f00ff;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #c6c6c1;
  color: black;
}

.flip-card-back {
  background-color: #c6c6c1;
  color: black;
  transform: rotateY(180deg);
}